.cart-container{
    background-color: rgba(255, 153, 0, .3);
    padding-left: 25px;
    line-height: 50px;
    height: 100vh;
    position: sticky;
    top:0px;
}
.cart-heading{
    text-align: center;
}
.cart-container p{
    font-size: 20px;
}
.btn-clear{
    width: 100%;
    height: 56px;
    background-color: red;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}