.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 100px;
}
.link{
    text-decoration: none;
    color: white;
    margin: 32px;
}
